
<body>
  <h6>Nearby Hot Spots!</h6>

  <div id="googleMap">
  </div>

  <div>
    <h6>Text your Friends to Meet You Here!</h6>
    </div>
    <div>
      <ol id="marker_list">
      </ol>

    </div>

    <!-- <h6><form> -->


    </div>
  </body>
  </html>


<%= render 'form', restaurant: @restaurant %>

<%= link_to 'Back', restaurants_path %>
