<html>
  <head>

  <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- <button id="button" name="EnterSite">Click Me!!!</button>
    <div id="container">
        <div id="input"></div>
        <input type="text" id="hiddenInput">
    </div> -->

    <%= yield %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyA01EzYhyyzXkYVo1UplOeXcZG27NsuO1E&libraries=places&callback=mapInit"></script>

</body>
</html>
